@font-face {
  font-family: 'Spectrum Sans';
  src: url('./assets/SpectrumSans/SpectrumSans_W_Rg.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Spectrum Sans';
  src: url('./assets/SpectrumSans/SpectrumSans_W_Rg.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Spectrum Sans';
  src: url('./assets/SpectrumSans/SpectrumSans_W_Md.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Spectrum Sans';
  src: url('./assets/SpectrumSans/SpectrumSans_W_Bd.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

:root {
  /* Tokens */
  --dark-blue: #003057;
  --spectrum-blue: #0099D8;
  --backdrop: var(--dark-blue);
  --white: #FFFFFF;
  --dark-gray: #333333;
  --light-gray: #CCCCCC;
  --accent-orange: #C34A39;
  --default-font-family: 'Spectrum Sans', sans-serif;
  --default-font-size: 18px;
  --default-line-height: 1.5;
  --default-font-weight: 400;
  --light-font-weight: 300;
  --medium-font-weight: 600;
  --bold-font-weight: 700;
  --default-corner-radius: 10px;
  --default-border-width: 1px;
  --default-border-color: var(--dark-gray);
  --default-border-style: solid;
  --default-border: var(--default-border-width) var(--default-border-style) var(--default-border-color);
  --default-box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.3);
  --h1: 67.34px;
  --h2: 50.52px;
  --h3: 37.9px;
  --h4: 28.42px;
  --h5: 21.33px;
  --p: var(--default-font-size);
  --small: 14px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--default-font-family);
  line-height: var(--default-line-height);
  font-weight: var(--default-font-weight);
  color-scheme: light dark;
  color: var(--dark-gray);
  background-color: var(--light-gray);
  margin: 0;
}

button {
  background-color: var(--dark-blue);
  font-family: var(--default-font-family);
  line-height: var(--default-line-height);
  font-weight: var(--default-font-weight);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: var(--default-corner-radius);
  border: none;
  box-shadow: var(--default-box-shadow);

  &:hover {
    background-color: var(--spectrum-blue);
    color: var(--dark-gray);
    border: var(--default-border);
    box-shadow: none;
  }
}

main {
  display: flex;
  flex-direction: column;  
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#dsDialog {
  border: none;
  background: none;
  // width: 100vw;
  // height: 100vh;
  // margin: 0;
  // padding: 0;
  // max-width: 100%;
  // max-height: 100%;

  // &[open] {
  //   display: flex;
  //   flex-direction: column;
  //   place-items: center;
  //   justify-content: center;
  // }

  // & > * {
  //   margin: 0 0 0.5rem 0;
  // }

  &::backdrop {
    // background-color: rgba(0, 0, 0, 0.5);
    background-color: #333333;
    opacity: 0.5;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--backdrop);
    background-color: var(--white);
  }
}
